anyio==3.6.2
attrs==22.2.0
certifi==2022.12.7
cfgv==3.3.1
click==8.1.3
distlib==0.3.6
exceptiongroup==1.1.1
fastapi==0.95.0
filelock==3.10.7
greenlet==2.0.2
h11==0.14.0
httpcore==0.16.3
httpx==0.23.3
identify==2.5.22
idna==3.4
iniconfig==2.0.0
mypy-extensions==1.0.0
nodeenv==1.7.0
packaging==23.0
pathspec==0.11.1
platformdirs==3.2.0
pluggy==1.0.0
pre-commit==3.2.1
pydantic==1.10.7
pytest==7.2.2
PyYAML==6.0
rfc3986==1.5.0
sniffio==1.3.0
SQLAlchemy==2.0.8
starlette==0.26.1
tomli==2.0.1
typing_extensions==4.5.0
uvicorn==0.21.1
gunicorn
gevent
mangum
virtualenv==20.21.0
psycopg2-binary
